@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<h1>Lesson 05</h1>

<ul>
    <li>
        <a asp-controller="Exercise01" asp-action="Index">Exercise 01</a>
    </li>
    <li>
        <a asp-controller="Exercise03" asp-action="Index">Breakfast Order</a>
    </li>
</ul>